body{
    background:#030a16;
    color:white;
    font-family:Segoe UI,sans-serif;
    margin:0;
    padding:20px;
}

h1{
    color:#34d399;
}

.dashboard{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    gap:15px;
}

.panel{
    background:#071626;
    border-radius:12px;
    padding:20px;
}

.full{
    grid-column:1 / -1;
}
